
:root{
  --green: #43E04f;
  --red: #940E3F;
  --dGrey: #343A40;
  --wGrey: #9BADBF;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-size: 30px;
}
nav {
  background-color: #000;
  border-bottom: 3px solid #940e3f;
  width: 100%;
  padding: 2%;
  position: fixed;
  top: 0;
}
.icon{
  width: 50px;
}
.menu{
  display: grid;
  grid-template-columns: auto auto auto auto 2fr;
  width: 99vw;
}
a{
  font-family: 'Roboto Slab', serif;
}

.menu a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
  line-height: 50px;
}
label {
  width: 40px;
  line-height: 50px;
  display: none;
}
#check {
  display: none;
}

.search{
  justify-self: end;
  height: 2.5em;
  width: 20em;
  background-image: url("../assets/search.svg");
  background-repeat: no-repeat;
  background-position: right;
  margin-right: 13%;
}

.etusivu:hover, .ruokalista:hover, .ravintolat:hover, .yhteystiedot:hover{
  border-bottom: 1px solid var(--red);
}

.imgFruits{
  width: 100%;
  background-image: url('../assets/orange2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  margin-bottom: 3%;
  margin-top: 7%;
}
.image-gradient{
  background: linear-gradient(60deg, #940e3fc4 40%, transparent 60%);
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.etuTeksti{
  display: flex;
  text-align: center;
  margin: 0%;
  margin-right: 40%;
  color: #fff;
  font-size: 40px;
}
.lang{
  display: flex;
  justify-content: center;
  grid-column: 2;
  grid-row: 1/2;
}

.lang > input{
  margin: 1%;
  width: 80px;
  height: 30px;
  color: #fff;
  background-color: var(--dGrey);
  border: none;
  font-family: PT Sans;
  cursor: pointer;
}
.locationSVG{
  cursor: pointer;
}
.locationSVG:hover{
  filter: invert(73%) sepia(94%) saturate(504%) hue-rotate(61deg) brightness(98%) contrast(79%);
}
#lunch-courses{
  align-items: center;
  font-family: 'Lato', sans-serif;
  color: #000;
}
.lunch-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  width: 90%;
  grid-auto-rows: minmax(200px, 1fr);
  column-gap: 5%;
  margin-top: 5%;

}
.lunch-list > div{
  border: 3px solid var(--wGrey);
  padding-left: 2%;
  padding: 2%;
}
.ravintola2{
  grid-column: 2;
  grid-row: 1/1;
  text-align: center;
  box-shadow: 20px 20px 50px grey;
  margin-bottom: 5rem;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
}
.ravintola1{
  grid-column: 1;
  grid-row: 1/1;
  text-align: center;
  font-family: 'Lato', sans-serif;
  box-shadow: 20px 20px 50px grey;
  margin-bottom: 5rem;
  font-size: 24px;
}
h2{
  font-family: 'Lato', sans-serif;
  font-size: 40px;
}

@media screen and (max-width: 1000px) {
  label {
      display: block;
      cursor: pointer;
  }
  .menu {
      position: relative;
      right: 20%;
      background-color: black;
      display: none;
  }
  .menu a {
      display: block;
  }

  #check:checked + .menu {
      display: block;
  }

  nav{
    padding: 0%;
    display: grid;
    grid-template-columns: auto 70%;
  }

  .menu-search{
    display: none;
  }
  .icon{
    width: 70px;
    margin-top: 20%;
  }
  .search{
    justify-content: end;
  }
  .lunch-list{
    display: inherit;
  }
  .ravintola2{
    margin-bottom: 5%;
  }
}

